$brown: #b46816
$darkbrown: #78591f
$lightbrown: #d7ae71
$blue: #0462aa
$dark: #202020
$lightdark: #2e2e2c
$darker: #161616
$light: #f2efe9
$muted: #b9b4ac
$br-normal: 5px
$br-large: 15px
$space-xs: 8px
$space-sm: 16px
$space-md: 24px
$space-lg: 48px
$space-xl: 80px
$transition: .2s ease